* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", Tahoma;
}

h1 {
    text-align: center;
    background-color: #00fa9a;
    color: #fff;
    margin-top: 0;
    padding: 10px;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.flex-container {
    display: flex;
    padding-left: 30%;
}

.content {
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    padding: 8px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-right: 20px;
}
.content form {
    margin: 10px 0;
}

.content form input {
    padding: 10px 15px;
    width: 40%;
    border: 1px solid #e5e5e5;
    border-right: none;
    color: #bbb;
    outline: none;
    font-size: 15px;
    height: 44px;
}

.content form input::placeholder {
    color: #bbb;
    font-size: 15px;
}

.content form button {
    width: 20%;
    padding: 10px 15px;
    background-color: #00fa9a;
    border: 1px solid #e5e5e5;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    height: 44px;
}

.content .erreur {
    background-color: red;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.8px;
    border-radius: 5px;
    font-weight: bold;
}

.content .erreur.visible {
    padding: 10px;
}

.content hr {
    height: 1px;
    border: none;
    background-color: #fff;
}

.content .control-date {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 10px auto;
    color: #585858;
}

.content .control-date .actual {
    font-size: 18px;
    letter-spacing: 0.8px;
}

.content .control-date .prev,
.content .control-date .next {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.content .control-date .next:hover {
    transform: translateX(3px);
}

.content .control-date .prev:hover {
    transform: translateX(-3px);
}

.stats {
    border-radius: 5px;
    background-color: #f3f3f3;
    width: 25%;
    padding: 5px 10px;
    border: 1px solid #e7e7e7;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.stats h2 {
    color: #585858;
    letter-spacing: 1px;
    font-weight: 500;
}

.stats hr {
    height: 1px;
    border: none;
    background-color: #fff;
}

.stats ul {
    list-style: none;
    padding-left: 10px;
    color: #585858;
    letter-spacing: 0.8px;
}

.stats ul li {
    margin-bottom: 10px;
}

.stats ul li span {
    font-weight: bold;
}
